# Ignore virtual environment
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Model files
trained_emotion_model/

# Large datasets
results/
*.csv

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
